{% extends "app/layout.html" %}

{% block content %}

<h2 align="center">{{ title }} Us</h2>
<h3 align="center">We are a reasonably excellent team!</h3></br>

<div  class="container" align="center">
<div class="row" align="center">

    <div class="col-md-2 col-md-offset-5" align="center">
  <h4>Justin Alcorn</h4>
  <h4>Alex Marey</h4>
  <h4>Geoffrey Cline</h4>
  <h4>Nick Sallwasser</h4>
  <h4>Alex Ernst</h4>
  <h4>Josh Welschmeyer</h4>
  <h4>Matt McQuinn</h4>
  <h4>Ashley Parker</h4>
        </div>
    </div>
    </div>

{% endblock %}
