{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }} Us</h2>
<h3>We are a reasonably excellent team.</h3>

<ul class="list-group">
  <li class="list-group-item">Justin Alcorn</li>
  <li class="list-group-item">Alex Marey</li>
  <li class="list-group-item">Geoffrey Cline</li>
  <li class="list-group-item">Nick Salamander</li>
  <li class="list-group-item">Alex Ernst</li>
  <li class="list-group-item">Josh Welschmeyer</li>
  <li class="list-group-item">Matt McQuinn</li>
  <li class="list-group-item">Ashley Parker</li>
</ul>

{% endblock %}
