{% extends "app/layout.html" %}

{% block content %}

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
</script>

<br />

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">{{ question.question_text }}</h3>
  </div>
  <div class="panel-body">
    {{ question.desc_text }}
  </div>
</div>


<h2>Choose a Response:</h2>
<div class="list-group">
    {% if question.choice_set.all %}
        {% for choice  in question.choice_set.all %}
            <a href="/{{question.id}}/vote/{{ choice.id }}" class="list-group-item" >{{ choice.choice_text }}</a>
        {% endfor %}
        {% else %}
            <a href="#" class="list-group-item" >No Responses Available</a>
    {% endif %}
</div>

<div id="container">
  {{ chart.as_html }}
</div>
{% endblock %}
