{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <p align="left"><img src="/static/app/Dynamic_Survey-Logo-Black.png" width="800" height="250" /></p>
    <p class="lead">Responsive Surveys allow your organization to increase the efficency of necessary business processes, including onboarding and approval workflows. Additionally, Responsive Surveys can be used for amusement.</p>
    <p><a href="/admin" class="btn btn-primary btn-large">Go to Administration Page &raquo;</a></p>
</div>

<div class="list-group">
  <a href="#" class="list-group-item active">
    Recent Polls
  </a>
    {% if latest_question_list %}
        {% for survey in latest_question_list %}
            <a href="/{{ survey.id }}/" class="list-group-item" >{{ survey.survey_name }}</a>
        {% endfor %}
        {% else %}
            <p>No polls are available.</p>
    {% endif %}
</div>



{% endblock %}
