{% extends "app/layout.html" %}

{% block content %}

</br></br>
<div class="jumbotron" style="background-color:#78BE20">
    <p align="center"><img src="/static/app/Dynamic_Survey-Logo-Black.png" width="800" height="250" /></p></br></br>
    <p class="lead" align="center">Dynamic Surveys allow your organization to increase the efficency of necessary business processes, including onboarding and approval workflows. Additionally, Dynamic Surveys can be used for amusement!</p>
   
</div>

{% if user.is_authenticated %}
<div class="list-group">
    <div class="row" align="center">
        <div class="col-md-4 col-md-offset-4" align="center">
  <a style="background-color:#003B49;" href="#" class="list-group-item active">
    Available Surveys
  </a>
    {% if latest_question_list %}
        {% for survey in latest_question_list %}
            <a href="/{{ survey.id }}/" class="list-group-item" >{{ survey.survey_name }}</a>
        {% endfor %}
        {% else %}
            <p>No polls are available.</p>
    {% endif %}
         </div>
        </div>
</div>

{% endif %}


{% endblock %}
